.logo {
  text-align: center;
  background-image: url("../tools/IP3-master/assets/backgrounds/h_img.jpg");
  background-size: 100vw;
  color: white;
  background-repeat: no-repeat;
}
#mouse {
  padding-top: 70px;
}
.about {
  text-align: center;
  padding-top: 100px;
}
/* .service {
  text-align: center;
  margin-top: -300px;
  color: white;
  padding-bottom: 200px;
} */
.service {
  background-image: url("../tools/IP3-master/assets/backgrounds/s_image.jpg");
  text-align: center;
  background-size: cover;
  color: white;
  padding-top:100px;
  padding-bottom:30px;
}
.what-we-do > #flexer > img {
  display: flex;
  margin-right: 30vw;

}
.what-we-do > h2 {
  text-align: center;
  padding-top: 100px;
}
#flexer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio {
  padding: 50px;
  margin: 10px;
  text-align: center;
}
.contact-form {
  background-image:url("../tools/IP3-master/assets/backgrounds/c_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
#name, #email, #message {
  background-color: transparent;
}
#button-color{
  background-color: blue;
  color: white;
}
input[type="text"],input[type="email"],textarea[type="text"] {
  background: transparent;
  outline: none;
  background-color: transparent;
}
footer {
  text-align: center;
  margin-top: 100px;
}
